#container{
    background: #F9F7F7;
    border-radius: 5px;
    width: 35%;
    padding: 1% 3%;

}

#headerText{
    color: #3F72AF;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

#inputTag{
    background: #DBE2EF;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    height: 5vh;
    width: 70%;
}

#addBtn{
 width: 10%;
}

#inputDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;

}

hr{
    border: none;
    background: rgba(103, 102, 102, 0.23);
    height: 1px;
}

#itemCon{
    background: #DBE2EF;
    display: flex;
    border-radius: 5px;
    margin-bottom: 3%;
}

#itemCon p {
    margin-left: 20%;
}

#itemCon img {
    width: 5%;
    height: 5%;
    margin-top: 10px;
    margin-left: 10px;
}